@import "./vars.scss";

body{
    margin:0;
    padding: 3px 0 0 0;
}

.background{
    background: linear-gradient(to bottom, $white-color, #f2f0fb);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("fonts/Montserrat-Light.ttf");
}

.duration {
    font-family: Montserrat-Light;
    display: none;
    background:$back-onvideo-info;
    color: $white-color;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    padding: 3px 5px;
}

.views {
    font-family: Montserrat-Light;
    display: none;
    background: $back-onvideo-info;
    color: $white-color;
    border-radius: 2px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
    padding: 3px 5px;
}

.image-content:hover .views{
    display: block;
}

.image-content:hover .duration{
    display: inline-block;
}

