$back-onvideo-info:#a287db;
$white-color:#fff;
$violet-color:#f2f0fb;
$grad-start:#e334b5;
$grad-middle:#9b90df;
$grad-end:#84abec;
$input-border:#96c7e5;
$input-search-img:#bd58b8;
$title-color:#030303;
$video-inf:#333;