.play {
    height: 88vh;
    overflow: scroll;
}

.play::-webkit-scrollbar {
    width: 0px;
}

.player-main {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    justify-content: space-around;
    align-content: start;
    margin: 1vh 2% 0;
}

