.main {
    display: flex;
    flex-wrap: wrap;
    height: 86.5vh;
    overflow: scroll;
    justify-content: space-around;
    align-content: start;
    margin: 1vh 2% 0
}

.main::-webkit-scrollbar {
    display: none;


}

@media screen and (max-width: 1024px){

    .main {
        height: 90vh;
        overflow: scroll;
    }
}




