.main {
    display: flex;
    flex-wrap: wrap;
    height: 88vh;
    padding-bottom: 0;
    overflow: scroll;
    justify-content: space-around;
    align-content: start;
    margin: 1vh 2% 0
}

.main::-webkit-scrollbar {
    width: 0px;
}